@font-face {
  font-family: 'Mek Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Mek Material Icons'),
  local('Mek MaterialIcons-Regular'),
  url('/extensions/mek-dendogram/css/MaterialIcons-Regular.ttf') format('truetype');
}


$font-dark: #666;
$font-light: #fff;

.mek-dendrogram {

  .link {
    fill: none;
    stroke: #aaa;
    stroke-linecap: round;
    stroke-width: 1px;
    opacity: 0.4;
  }

  .label {
    fill: $font-dark;
    font-weight: normal;
    font-family: "QlikView Sans", sans-serif;
    font-size: 13px;
    opacity: 1.0;
    dominant-baseline: central;
//    text-anchor: middle;

    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }


  &.f-size-m .label {
    font-size: 12px;
  }

  &.f-size-s .label {
    font-size: 11px;
  }

  &.f-size-xs .label {
    font-size: 10px;
  }

  .symbol-text {
    font-family: "QlikView Sans", sans-serif;
    dominant-baseline: central;
    text-anchor: middle;
    fill: $font-dark; 
    font-size: 1px;
    transition-property: font-size, fill;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    
    &.entering {
      fill: rgba(255, 255, 255, 0);
    }
  }
  
  .symbol-text--light {
    fill: $font-light;
  }

  .symbol-q {
    font-family: "QlikView Icons";
    dominant-baseline: middle;
  }
  
  .symbol-m {
    font-family: 'Mek Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    dominant-baseline: central;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  

  .node.node-expandable {
    font-weight: bold;
  }

  .node circle {
    fill: #CDECD8;
    stroke: transparent;
    stroke-width: 0;
    opacity: 1.0;
  }

  .node.node-selectable {
    cursor: pointer;
  }

  .inSelections .link {
    opacity: 0.0;
  }

  .inSelections .link.semi-selected {
    opacity: 0.2;
  }

  .inSelections .node:not(.node-selected) {
    opacity: 0.5;
  }

  .inSelections .node-semi-selected {
    opacity: 0.8 !important;
  }

  .inSelections .node.unselectable {
    opacity: 0.15;
    cursor: default;
  }
/*
  rect {
    fill: rgba(100, 255, 100, 0.5);
    opacity:0;
  }
*/
}




.marker {
  width: 1px;
  background-color: cyan;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.marker.p-25 {
  left: 25%;
  opacity: 0;
}

.marker.p-33 {
  left: 33%;
}

.marker.p-50 {
  left: 50%;
}
.marker.p-66 {
  left: 66%;
}
.marker.p-75 {
  left: 75%;
  opacity: 0;
}

.marker.p-50-50 {
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 2px;
}
