{
	"env": {
		"browser": true,
		"amd": true
	},
	"globals": {
		"require": true,
		"define": true,
		"before": true,
		"beforeEach": true,
		"after": true,
		"afterEach": true,
		"chai": true,
		"sinon": true,
		"describe": true,
		"context": true,
		"it": true,
		"flush": true
	},
	"rules": {
		"no-use-before-define": 0,
		"no-underscore-dangle": 0,
		"no-wrap-func": 0,
		"quotes": 0,
		"no-multi-str": 0,
		"consistent-return": 0,
		"no-unused-expressions": 0,
		"no-yoda": 0,
		"no-empty-label": 0,
		"no-labels": 0,
		"eol-last": 0,
		"no-new": 0,
		"no-trailing-spaces": 0,
		"no-unused-vars": 2,
		"no-extra-bind": 2,

		// consider enable these:
		"yoda": 0,
		"no-mixed-spaces-and-tabs": 0,
		"camelcase": 0,
		"strict": 0,
		"no-extra-strict": 0,
		"no-comma-dangle": 0,
		"new-cap": 0,
		"no-shadow-restricted-names": 0,
		"space-infix-ops": 0,
		"no-shadow": 0,
		"no-spaced-func": 0,
		"no-space-before-semi": 0,
		"no-alert": 0,
		"no-console": 0,
		"no-constant-condition": 0,
		"no-irregular-whitespace": 0,
		"comma-dangle": 0,
		"comma-spacing": 0,
		"space-unary-ops": 0,
		"key-spacing": 0,
		"semi-spacing": 0,
		"no-loop-func": 0,
		"dot-notation": 0,
		"semi": 0,
		"no-multi-spaces": 0
	}
}
