.link {
	fill: none;
	stroke: #aaa;
	stroke-linecap: round;
	opacity: 0.4;
}

text {
	fill: #666;
}
.node.node-expandable {
	font-weight: bold;
}

.node circle {
	fill: #CDECD8;
}

.node.node-selectable {
	cursor: pointer;
}

.leaf circle {
	fill: white;
}

.inSelections .link {
	opacity: 0.0;
}

.inSelections .node:not(.node-selected) {
	opacity: 0.5;
}

.inSelections .node.unselectable {
	opacity: 0.05;
}
/*
.inTransition text, .inTransition circle use {
	display: none;
}
*/